<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h3>
<hr>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> I am currently a Research Assistant and Developer at the Canadian Institue for Cybersecurity(CIC), Canada. My current research is focused on incorporating Artificial Intelligence (AI) and Machine Learning (ML) techniques in cybersecurity.</p>
<h2 id="education">Education</h2>
<h3 id="unb">University of New Brunswick (UNB), Canada</h3>
<p><strong>M.CS IN COMPUTER SCIENCE</strong> | <em>2019-2021</em></p>
<ul>
  <li>Thesis: Achieving more effective Fraud detection. Under Supervision of <a href="http://www.cs.unb.ca/~ghorbani/">Prof. Ali Ghorbani</a></li>
  <li>Recipient of NB Innovation Foundation STEM & Social Innovation.</li>
  <li>Finalist of International cybersecurity competition Secur'IT Cup 2019.</li>
</ul>
<h3 id="ferdowsi-university-of-mashhad-fum-iran">Ferdowsi University of Mashhad (FUM), Iran</h3>
<p><strong>B. SC. IN COMPUTER ENGINEERING - SOFTWARE</strong> | <em>2014-2018</em></p>
<ul>
  <li>Ranked in top ten students among 66 classmates in terms of GPA</li>
  <li>Thesis: Surface quality check by using Computer Vision algorithms, Under Supervision of <a href="http://www.um.ac.ir/~a.harati">Prof. Ahad Harati</a></li>
</ul>
<hr>
<h2 id="experience">Experience</h2>
<table>
  <tbody>
  <tr>
    <td><em>Research Assistant and Developer</em>, Canadian Institue for Cybersecurity, UNB, Canada</td>
    <td>2019-now</td>
  </tr>
  <tr>
    <td><em>Teacher Assistant</em> at University of New Brunswick(UNB), Canada</td>
    <td>2019-now</td>
  </tr>
  <tr>
    <td><em>Research Assistant</em>, Cognitive Computing Lab, FUM, Canada</td>
    <td>2018-2019</td>
  </tr>
  <tr>
    <td><em>Teacher Assistant</em> at Ferdowsi University of Mashhad(FUM), Iran</td>
    <td>2015-2019</td>
  </tr>

  </tbody>
</table>

<hr>
<h2 id="honors--awards">Honors &amp; Awards</h2>
<ul>
  <li><em>Finalist of Kaspersky International cybersecurity competition Secur’IT Cup in Portugal, 2019.</em></li>
  <li><em>2nd Place Of RoboCup Iran Open 2017</em></li>
  <li><em>2rd Place in the Research Festival Ferdowsi University Department of Computer Engineering, 2016</em></li>
</ul>
<hr>
<h2 id="publications">Publications</h2>
<p>To see my publication record please check out <a href="https://scholar.google.com/citations?user=NK1IWUkAAAAJ&amp;hl=en&amp;oi=ao">my Google Scholar</a> profile.</p>
<hr>
<h2 id="certificates">Certificates</h2>
<ul>
  <li>Deep Learning Specialization , Coursera, 2020</li>
  <li>TensorFlow in Practice Specialization, Coursera, 2020</li>
  <li>Natural Language Processing with Classification and Vector Spaces, Coursera, 2020</li>
</ul>
<hr>


<h2 id="Skills">Skills</h2>
<ul>
  <li>Languages: Python, Java, C, .Net, MATLAB</li>
  <li>Frameworks: TensorFlow, Keras, PyTorch, Pandas, NumPy, OpenCV, Scikit-Learn, MySQL</li>
  <li>Web: AngularJS, JS, CSS, HTML, Bootstrap</li>
  <li>Security: Wireshark, NMAP, TCPdump, NetworkMiner, Volatility, Ettercap</li>
  <li>OS: Ubantu, Windows, Kali</li>
  <li>Version Control: Git</li>

</ul>


